beautifulsoup4
celery
feedparser
requests
urllib3
schematics
git+https://github.com/kinit-sk/newspaper@master#egg=newspaper3k
newsapi-python
tldextract
pytest
redis
pyjwt
sklearn
google-api-python-client
youtube-dl
